---
import { getLocaleFromUrl, useTranslations } from "@i18n/translate";
import Button from "./Button.astro"
import SendIcon from "@assets/send.svg"
import Input from "./Input.astro";

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<form action="https://api.web3forms.com/submit" method="post">
    <div class="contact-form-desktop">
        <input type="hidden" name="access_key" value="2fdf5449-091f-4a24-bbbb-272e9e27d0b3" />
        <Input name="name" placeholder={t("name")} required />
        <Input name="email" placeholder={t("email")} required />
    </div>

    <div class="contact-form-mobile">

        <Button text={t("send")} icon={SendIcon} type="submit" style="width: 100%; margin-top: 1rem; margin-bottom: 1rem" />
    </div>



    <!-- <div class="contact-fields">
        <div class="contact-main">
            <input type="hidden" name="access_key" value="2fdf5449-091f-4a24-bbbb-272e9e27d0b3" />
            <Input name="name" placeholder={t("name")} required />
            <Input name="email" placeholder={t("email")} required />
        </div>

        <Input name="message" placeholder={t("message")} required singleLine={false} class="contact-message" />
    </div>

    <Button text={t("send")} icon={SendIcon} type="submit" style="display: inline-block; margin-top: 1rem; margin-bottom: 1rem" /> -->
</form>

<style>
    .contact-form-desktop {
        display: none;

        @media screen and (min-width: 1000px) {
            display: flex;
        }
    }

    .contact-form-mobile {
        display: none;
        
        @media screen and (max-width: 1000px) {
            display: flex;
        }
    }
</style>