---
import Html from "@layouts/Html.astro";
import Header from "@components/Header.astro";
import { getLocaleFromUrl, localeStaticPaths, useTranslations } from "@i18n/translate";
export const getStaticPaths = localeStaticPaths

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
---

<Html title={t("contact_me")} description="A new way of enjoying anime">
	<Header />
	<h1>Awery 😊</h1>
	<a href="https://github.com/MrBoomDeveloper/Awery">See more here</a>
</Html>